<div class="card p-4">
  <div>
    My Tasks today
  </div>
  <div>
    <app-task 
      *ngFor="let task of todoList" 
      [task]=task
      (OnDeleted)="deleteTask($event)"
      (OnSelected)="selectTaskComponent($event)">
    </app-task>
  </div>
  
  <app-task-detail *ngIf="selectedTask" [task]="selectedTask"></app-task-detail>

  <div class="card mx-4 mt-4 px-4">
    <span>Add Task:</span> <br>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label px-1">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]='task.name'>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label px-1">Description:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]='task.description'>
      </div>
    </div>
    <div class="form-group row">
      <button class="btn btn-primary mx-auto" (click)='addTask()'>Add</button>
    </div>
    
  </div>
</div>