<div class='need-help'>
  Need help with any of these?
</div>
<div class='contact'>
  <div class='contact-panel'>
    <span>How does it all work?</span>
    <div>
      <button class="btn-contact">FOR PEOPLE WHO NEED HELP</button>
      <button class="btn-contact">FOR PEOPLE WHO PROVIDE HELP</button>
      <button class="btn-contact">FOR SHOP OWNERS</button>
    </div>
  </div>
  <div class='contact-panel'>
    <div class='conversation-panel'>
      <div>
        <img src="../assets/product-1.png" alt="Product Image">
      </div>
      <div class='description-panel'>
        <div>
          <img src="../assets//conversation-icon.png" alt="">
        </div>
        <div>
          <span>Angel Nikolov</span>
          <span class='italic'>Bough this item</span>
        </div>
      </div>
      <div class='name-panel'>
        Angel Nikolov
      </div>
      <div>
        <!-- <input  type="text" name="conversation-text"> -->
        <textarea class="conversation-text" name="conversation-text" rows="10"></textarea>
        <button class="btn-conversation">Start Conversation</button>
      </div>
    </div>
  </div>
  <div class='contact-panel'>
    <p>
      So you finally decided to buy that new phone and found it in website, at a great price. However, you are still not sure and want to find out if its performance will be the same, two years ahead in time? If you ask the customer support of that website, they will surely somehow convince you that what you wanna buy is the perfect product. Imagine if you can ask somebody that has already purchased this exact same product, without leaving the site?
    </p>
  </div>
</div>