<div class='banner-content'>
  <span>We are a community based help service!</span>
  <br>
  <span>Our product solves the problem with the lack of fast, context-specific and most importantly - untampered help out there.</span>
  <span>We solve that problem for our users by providing them an instant and specific help from people that may have already walked the same path and bought the same product.</span>
  <span>So next time, when you visit a site and you can't find a review or an answer that satisfies your information needs, you can open up our chat widget and ask a non-formal question to one of our helpers.</span>
  <br>
  <div>
    <button class="btn-white" (click)="showmessage('try it free')">TRY IT FREE</button>
    <button class="btn-red" (click)="showmessage('sign up')">SIGN UP</button>
  </div>
</div>