<main class="bg-light p-2">
  <h3>Dashboard</h3>
  <div class="d-flex flex-column px-2">

    <app-group-card 
      [title]="'NopCommerce News'"
      [iconName]="'feed'"
      [cardItemList]="newsCardList">
    </app-group-card>

    <app-group-card 
      [title]="'Common statistics'"
      [iconName]="'bar_chart'"
      [cardItemList]="staticticCardList">
    </app-group-card>

    <div class="row m-0">
      <app-group-card class="col-md-8 p-0"
        [title]="'Order totals'"
        [iconName]="'payments'"
        [cardItemList]="orderTable">
      </app-group-card>  
      <app-group-card class="col-md-4 p-0"
        [title]="'Incomplete orders'"
        [iconName]="'payments'"
        [cardItemList]="incompleteOrderTable">
      </app-group-card>
    </div>

    <div class="row m-0">
      <app-group-card class="col-md-8 p-0"
        [title]="'Latest Orders'"
        [iconName]="'add_shopping_cart'"
        [cardItemList]="lastOrderTable">
      </app-group-card>  
      <app-group-card class="col-md-4 p-0"
        [title]="'Popular search keywords'"
        [iconName]="'search'"
        [cardItemList]="popularSearchKeywordTable">
      </app-group-card>
    </div>

    <div class="row m-0">
      <app-group-card class="col-md-6 p-0"
        [title]="'Bestsellers by quantity'"
        [iconName]="'star'"
        [cardItemList]="bestSellerTable">
      </app-group-card>  
      <app-group-card class="col-md-6 p-0"
        [title]="'Bestsellers by amount'"
        [iconName]="'star_border'"
        [cardItemList]="bestSellerByAmountTable">
      </app-group-card>
    </div>

  </div>
</main>