<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul id="myUL">
      <li><span class="caret caret-none">Commonly Used</span></li>
      <li><span class="caret caret-down">Text Editor</span>
        <ul class="nested active">
          <li class="active">Cursor</li>
          <li>Find</li>
          <li>Font</li>
        </ul>
      </li>
      <li><span class="caret">Workbench</span></li>
      <li><span class="caret">Windows</span></li>
      <li><span class="caret">Features</span></li>
      <li><span class="caret">Application</span></li>
    </ul>
  </div>
</nav>