<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul id="myUL">
      <app-configuration-menu
        *ngFor='let configurationMenu of configList'
        [configurationMenu]="configurationMenu"
        [menuLevel]="0">
      </app-configuration-menu>
    </ul>
  </div>
</nav>

<!-- <ul id="myUL">
  <li><span class="caret caret-none">Commonly Used</span></li>
  <app-configuration-menu [configurationMenu]="configList[1]"></app-configuration-menu>
  <li><span class="caret">Workbench</span></li>
  <li><span class="caret">Windows</span></li>
  <li><span class="caret">Features</span></li>
  <li><span class="caret">Application</span></li>
</ul> -->