<app-header 
  [title]="'About Me'"
  [title_image]="'assets/img/JoneSalad.png'">
</app-header>
<div class="m-3">
  <p style="text-indent: 50px;">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi temporibus quidem asperiores earum assumenda recusandae nesciunt vitae quos! Sed reprehenderit error voluptas consequuntur aliquid ipsum aliquam sunt voluptates odio animi. 
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi temporibus quidem asperiores earum assumenda recusandae nesciunt vitae quos! Sed reprehenderit error voluptas consequuntur aliquid ipsum aliquam sunt voluptates odio animi.
  </p>
</div>

