.search {
  background-color: white;
  position: absolute;
  z-index: 1;
  /* height: 60px;
  width: 940px; */
  top: 325px;
  left: 130px;
  border: 1px solid rgb(191, 94, 98);
  border-radius: 7px;
}
.searchText {
  height: 40px;
  width: 900px;
  margin: 5px 10px 5px 30px;
  box-sizing: border-box;
  border: 0px;
}