<div class='center-menu-content'>
  <a class="menu-item clear-border clear-padding-left" href="#">รองเท้าผ้าใบสีขาว</a>
  <a class="menu-item clear-border" href="#">เดรสออกงาน</a>
  <a class="menu-item clear-border" href="#">กระเป๋าAdidas</a>
  <a class="menu-item clear-border" href="#">สร้อยคอเงิน</a>
  <a class="menu-item clear-border" href="#">ขนมญี่ปุ่น</a>
  <a class="menu-item clear-border" href="#">ชุดเดรสสีขาว</a>
  <a class="menu-item clear-border" href="#">กระเป๋าสตางค์ใบยาวผู้หญิง</a>
  <a class="menu-item clear-border" href="#">กางเกงยีนส์สีขาว</a>
</div>
