<app-tab-panel 
  [configuration]="configuration"
  (OnChangeSetting)="changeSetting($event)">
</app-tab-panel>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <app-side-panel
        [configurationMenuList]="configurationMenuList">
      </app-side-panel>
    </nav>
    <div id="sidebarMenu-gap" class="col-md-3 col-lg-2 d-md-block bg-light collapse">
      <!-- 
          For padding main content. So that it will not go behind the sidebar. (effect from "position: fixed;")
          The sidebar use "position: fixed;" To make it not scroll together with main content.
       -->
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <app-main-panel 
        [configurationMenuList]="configurationMenuList"
        [settingConfig]="settingConfig">
      </app-main-panel>
    </main>
  </div>
</div>