*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}
button {
  height: 45px;
  width: 145px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.btn-white {
  background-color: white;
  border-color: white;
  color: red;
}
.btn-red {
  background-color: rgb(224, 49, 61);
  border-color: rgb(224, 49, 61);
  color: white;
}
span {
  display: block;
}
.italic {
  font-style: italic;
}

