*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}
button {
  height: 45px;
  width: 145px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.btn-white {
  background-color: white;
  border-color: white;
  color: red;
}
.btn-red {
  background-color: rgb(224, 49, 61);
  border-color: rgb(224, 49, 61);
  color: white;
}





.container {
  width: 1200px;
  margin: auto;
}
.banner {
  background-image: url("/assets/background.png");
  position: relative;
}
/* ------------------------------------------------------------------------- */
.logo {
  float: left;
  margin: 10px 20px;
}
/* ------------------------------------------------------------------------- */
.menu {
  float: right;
  margin: 10px 20px;
}

.menu a {
  margin-right: 20px;
}
/* ------------------------------------------------------------------------- */
.banner-content {
  clear: both;
  height: 280px;
  color: white;
  padding: 0px 130px;
}
span {
  display: block;
}
/* ------------------------------------------------------------------------- */
.search {
  background-color: white;
  position: absolute;
  z-index: 1;
  /* height: 60px;
  width: 940px; */
  top: 325px;
  left: 130px;
  border: 1px solid rgb(191, 94, 98);
  border-radius: 7px;
}
.searchText {
  height: 40px;
  width: 900px;
  margin: 5px 10px 5px 30px;
  box-sizing: border-box;
  border: 0px;
}
/* ------------------------------------------------------------------------- */
.need-help {
  background-color: #f7f7f7;
  padding: 100px;
}
/* ------------------------------------------------------------------------- */
.contact {
  background-color: white;
  padding: 20px 100px;
}
.contact > div {
  display: inline-block;
  width: 333px;
  vertical-align: top;
}
.conversation-panel {
  width: 250px;
  margin: auto;
  text-align: center;
  border: 1px solid lightgray;
}
.name-panel {
  background-color: lightgray;
  padding: 10px;
}
.conversation-panel div {
  border-bottom: 1px solid lightgray;
}
.description-panel {
  font-size: 0.7em;
  text-align: left;
  padding: 10px;
}
.description-panel > div {
  display: inline-block;
  margin-right: 10px;
  border: none;
}
.conversation-text {
  width: 250px;
  padding: 10px;
  border: 0px;
  resize: none;
  box-sizing: border-box;
}

.italic {
  font-style: italic;
}

/* ------------------------------------------------------------------------- */
.footer {
  background-color: #f7f7f7;
  border-top: solid 3px #d5d5d5;
  padding: 20px 100px;
}

/* ------------------------------------------------------------------------- */
.btn-login {
  width: 80px;
}
.btn-contact {
  width: 300px;
  font-size: 0.7em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 1px;
  text-align: left;
  padding-left: 20px;
  margin: 5px;
}
.btn-contact:first-child {
  border-color: red;
  color: red;
}
.btn-conversation {
  background-color: rgb(62, 153, 180);
  border-color: rgb(62, 153, 180);
  color: white;
  height: 30px;
  border-radius: 1px;
  margin: 10px auto;
}
