.home-content {
  font-size: .875rem;
  font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
  color: rgba(0,0,0,.8);
  line-height: 1.2;
  box-sizing: border-box;
}