<div class="top-banner-content">
  <div class="top-banner-spacer"></div>
  <div class="top-banner-main">
    <div class="top-banner-center">
      <a href="#">
        <img class='top-banner-center' src="../../../assets/top-banner-center.jpg" alt="">
      </a>
    </div>
    <div class="top-banner-right">
      <div class="top-banner-right-element">
        <img class='top-banner-right-element' src="../../../assets/top-banner-right-1.jpg" alt="">
      </div>
      <div class="top-banner-right-element">
        <img class='top-banner-right-element' src="../../../assets/top-banner-right-2.jpg" alt="">
      </div>
    </div>
  </div>
</div>