*, ::after, ::before {
  box-sizing: border-box;
}

.small-box>.inner {
  padding: 10px;
}

.small-box .icon {
  color: rgba(0,0,0,.15);
  z-index: 0;
}

.small-box .icon > mat-icon {
  position: absolute;
  font-size: 80px;
  right: 60px;
  top: 15px;
  /* transition: all .3s linear; */
}

.small-box>.small-box-footer {
  background: rgba(0,0,0,.1);
  color: rgba(255,255,255,.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}

.small-box {
  border-radius: .25rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.small-box:hover .icon > mat-icon{
  font-size: 90px;
  right: 68px;
  top: 15px;
  transition: all .3s linear;
}

.more-info {
  font-size: 1rem;
  width: 24px;
  height: 16px;
  vertical-align: sub;
}