.menu-item {
  color: #fff;
  text-decoration: none;
  font-size: .8125rem;
  font-weight: 300;
  padding: 0 .4375rem;
  border-right: 2px solid hsla(0,0%,100%,.22);
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
}
.clear-border {
  border: none;
}