.shopee-svg-icon {
  display: inline-block;
  fill: currentColor;
  position: relative;
}
.header-with-search__shopee-logo {
  width: 162px;
  height: 50px;
}
.icon-shopping-cart-2 {
  color: #fff;
  stroke: #fff;
  fill: currentColor;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin: auto;
}