<div class='navbar-section'>
  <div class='navbar-content'>
    <div class='top-menu-section'>
      <div class='top-menu-left'>
        <a href="#" class="menu-item">ขาย</a>
        <a href="#" class="menu-item" title="ขายสินค้ากับช้อปปี้">ขายสินค้ากับช้อปปี้</a>
        <a href="#" class="menu-item">ดาวน์โหลด</a>
        <div class="menu-item clear-border">ติดตามเราบน</div>
        <div class="menu-item clear-border">
          <a href="#" class="social-icon social-icon_facebook-2x-png"  title="ติดตามเราบน Facebook"></a>
          <a href="#" class="social-icon social-icon_instagram-2x-png" title="ติดตามเราบน Instagram"></a>
          <a href="#" class="social-icon social-icon_line-2x-png" title="ติดตามเราบน Line"></a>
        </div>
      </div>
      <div class='top-menu-right'>
        top-menu-right
      </div>
    </div>
    <div class='search-section'>
      <search-bar></search-bar>
      <div class='center-menu-section'>
        center-menu
      </div>
    </div>
  </div>
</div>