.navbar-section {
  position:absolute;
  left:0;
  right:0;
  background: linear-gradient(-180deg,#f53d2d,#f63);
}
.navbar-content {
  width: 1200px;
  margin: auto;
  color: white;
}
.top-menu-left {
  float: left;
}
.top-menu-right {
  float: right;
}
.search-section {
  clear: both;
}
.menu-item {
  color: #fff;
  text-decoration: none;
  font-size: .8125rem;
  font-weight: 300;
  padding: 0 .4375rem;
  border-right: 2px solid hsla(0,0%,100%,.22);
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
}
.clear-border {
  border: none;
}
.inline-block {
  display: inline-block;
}

.search-content {
  width: 840px;
  height: 59px;
}

.div-logo {
  width: 200px;
  text-align: left;
}

.div-shopping-cart {
  width: 160px;
}