.navbar-section {
  position:absolute;
  left:0;
  right:0;
  background: linear-gradient(-180deg,#f53d2d,#f63);
}
.navbar-content {
  width: 1200px;
  margin: auto;
  color: white;
}
.search-section {
  clear: both;
  padding-top: 16px;
}

.inline-block {
  display: inline-block;
}

.search-content {
  width: 840px;
}

.div-logo {
  width: 200px;
  text-align: left;
  vertical-align: top;
}

.div-shopping-cart {
  width: 160px;
  vertical-align: top;
  padding-top: 15px;
}