.social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/e7fba41cad3372e2d3294d28ccbf4611.png);
}
.social-icon_facebook-2x-png {
  background-size: 562.5% 356.25%;
  background-position: 64.86486486486487% 12.195121951219512%;
}
.social-icon_instagram-2x-png {
  background-size: 562.5% 356.25%;
  background-position: 58.108108108108105% 75.60975609756098%;
}
.social-icon_line-2x-png {
  background-size: 562.5% 380%;
  background-position: 6.756756756756757% 100%;
}

.shopee-svg-icon {
  display: inline-block;
  fill: currentColor;
  position: relative;
}
.icon-notification-2 {
  width: .875rem;
  height: 1.125rem;
  vertical-align: middle;
  margin-right: 5px;
}
.navbar__help-center-icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: .3125rem;
  margin-left: .5rem;
  color: currentColor;
}
.navbar__help-center-icon .icon-help-center {
  height: 1.125rem;
  width: 1.125rem;
}