<nav class="sidebar sidebar-width bg-secondary d-md-block d-none"> 
  <img src="https://admin-demo.nopcommerce.com/css/admin/images/logo.png" class='a-logo' alt="">
  <hr class="text-light m-0">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        {{node.name}}
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
            <button mat-flat-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name"
                    class="flex-grow-1">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <mat-icon>{{node.icon}}</mat-icon>
                  <span class="node-name">{{node.name}}</span>
                </div>
                <div>
                  <mat-icon>
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left'}}
                  </mat-icon>
                </div>
              </div>
            </button>
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            role="group">
          <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>
</nav>
