.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

nav > img {
  width: 225px;
  margin: 5px 10px;
}

/* ********************************************* */
.example-tree-invisible {
  display: none;
}

.example-tree {
  padding-left: 20px;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
/* .example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
} */

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

mat-icon {
  vertical-align: sub;
}

.node-name {
  margin-left: 8px;
}