/* You can add global styles to this file, and also import other style files */
$primary: #00d90b;
$secondary: rgb(147, 228, 147);
$danger: #ff4136;

@import "../node_modules/bootstrap/scss/bootstrap";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';